* {
  box-sizing: border-box;
  margin: auto;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: blueviolet;
}

.color-hex {
  margin-bottom: 10px;
  width: 300px;
  height: 80px;
  font-size: 20px;
  display: block;
  text-align: center;
  border: none;
  background-color: rgb(233, 227, 227);
}

.color-hex:focus {
  outline-color: green;
}

.color-rgb {
  width: 300px;
  height: 80px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: none;

}

.error {
  background-color: red;
}